
HOST=""
USER=""
PASSWORD=""
PORT=3306

PUBLICO=""
VENDAS=""
ESTOQUE=""
FINANCEIRO=""
MOBILE=""
USUARIO_SISTEMA=1


CNPJ=teste

#---conexaofiladosistema
BROKER_URL_SISTEMA=''
QUEUE_NAME_SISTEMA=''
EXCHANGE_NAME_SISTEMA='sistema'
#---------------------------------------

#---conexaofiladomobile
BROKER_URL_MOBILE=''
QUEUE_NAME_MOBILE=''
EXCHANGE_NAME_MOBILE='template_api'
#---------------------------------------


API_URL=''
API_TOKEN=""

API_ORIGIN_NAME='erp_integration'