
HOST=""
USER=""
PASSWORD=""
PORT=3306

PUBLICO=""
VENDAS=""
ESTOQUE=""
FINANCEIRO=""
MOBILE=""
USUARIO_SISTEMA=1


CNPJ=teste

#BROKER_URL='amqp://100.74.166.88:5672'
#---conexaofiladosistema
BROKER_URL_SISTEMA=''
QUEUE_NAME_SISTEMA=''
EXCHANGE_NAME_SISTEMA='sistema'
#---------------------------------------

#BROKER_URL='amqp://100.74.166.88:5672'
#---conexaofiladomobile
BROKER_URL_MOBILE=''
QUEUE_NAME_MOBILE=''
EXCHANGE_NAME_MOBILE='template_api'
#---------------------------------------



API_URL=''
API_TOKEN=""

API_ORIGIN_NAME='erp_integration'